body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    background-color: #5d0d73;
}

.calculatorBox {
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: gray;
}

.calculatorDisplay {
    border: 2px solid #4a494a;
    background-color: white;
    width: 350px;
    text-align: right;
    font-family: monospace;
    font-size: 30px;
    margin-bottom: 15px;
}

.buttonsContainer {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex: 1;
}

.numericalButtonsContainer {
    display: flex;
    flex-direction: column;}

.operatorButtonsContainer {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.functionButtonsContainer {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.numericalButtonsRow  {
    display: flex;
    justify-content: stretch;
}

button {
    width: 100%;
    padding: 20px;
    font-size: 26px;
    border: 1px solid black;
    flex-basis: 0;
    flex-grow: 1;
    transition-duration: 0.1s;
}

#buttonClear {
    background-color: lightpink;
    font-size: 22px;
}

#buttonClear:hover {
    background-color: rgb(195, 141, 150);
    font-size: 22px;
}

#buttonBackspace {
    height: 25%;
    font-size: 16px;
}

#buttonEquals {
    height: 75%;
    background-color: lightblue;
}

#buttonEquals:hover {
    height: 75%;
    background-color: rgb(143, 180, 192);
}

button:hover {
    background-color: lightgray;
}